h1{
    color: aquamarine; text-decoration: underline;
}
p {
    font-size: xx-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
h3 {
    border-style: dotted;
}
h4 {
    text-align: center;
}