table{
    width: 300px;
    height: 100px;
    border: 2px solid black;
    width: 40%;
}
#month_name{
    border-bottom: 2px solid black;
    font-size: xx-large;
}
.bcolor{
    background-color: pink;
}
td{
    border: 1px solid black;
    text-align: center;
}
h1 {
    color: cornflowerblue;
    margin-left: auto;
}
td {
    text-align: center;
    border: black solid;
    padding: 10px;
}
thead{
    font-weight: bold;
    color: rgb(36, 33, 33);
    padding: 20px;

}
.s{
    border-right: 2px solid black;
}